body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f1ffe7;
}

button {
    padding: 1rem 3rem;
    height: fit-content;
    width: fit-content;
    border: none;
    background-color: #ff7f50;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    outline: none;
}

button:hover {
    text-shadow: 0 0 5px white;
}

button:active {
    background-color: #ff8e64
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2rem 0;;
}

.header__logo {
    height: 8rem;
}

.header__button {
    color: #2E2E2E;
    background-color: #fff4e6;
    margin: 1rem;
    box-shadow: 0 0 4px 0px #c6beb2;
}

.header__button:hover {
    background-color: #ff7f50;
}

.header__button:active {
    background-color: #ff8e64
}

.mockups {
    padding: 2rem;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.mockups__image {
    width: 100%;
    margin: 0.5rem 0;
}

.mockups__header {
    width: fit-content;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.mockups__text {
    margin: 0.5rem 0;
    text-align: center;
}

.mockups__button {
    margin: 0.5rem 0;
    align-self: center;
}

.advantages {
    align-self: center;
    padding: 2rem;
    display: flex;
}

.advantages__image {
    align-self: center;
    width: 60%;
}

.advantages-items {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-self: center;
}

.advantages-item {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.advantages-item__header {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.advantages-item__description {
    margin: 0.5rem 0;
}

@media screen and (max-width: 1024px) {
    .advantages {
        flex-direction: column;
    }

    .advantages-item__header {
        text-align: center;
    }

    .advantages-item__description {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
}

.registration-form {
    width: 60%;
    background-color: white;
    box-shadow: 0 0 4px 2px #cecece;
    border-radius: 3px;
    padding: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.registration-form__header {
    width: fit-content;
    align-self: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.25rem;
}

.registration-form__input {
    outline: none;
    border: 2px solid #8dd483;
    border-radius: 3px;
    padding: 0.5rem;
}

.registration-form__input:focus {
    box-shadow: 0 0 4px 2px #8dd483;
}

.registration-form__input_invalid-pseudo:invalid {
    box-shadow: 0 0 4px 2px #d4838a;
    border-color: #d4838a;
}

.handle-message-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.handle-message-input-wrapper__message {
    margin: 0.3rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

.hidden {
    display: none;
}

.registration-form__submit-button {
    margin: 0.25rem;
    align-self: center;
}

.footer {
    display: flex;
    color: white;
    background-color: #00402f;
    padding: 2rem 0;
    justify-content: center;
}